# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ramir\Documents\PUCRS\2022-1\Projeto e Automatização de Algoritmos\4-divisao-e-conquista-exercicio-de-aprofundamento-4_ramiro-lucas\projeto_ide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
